<!-- component -->
<div class="animate-loadItem min-h-screen flex items-center bg-no-repeat bg-center bg-cover "
	style="background-image: url('https://source.unsplash.com/random?ux')">
	<section class="bg-cover bg-center py-32 w-full flex ">
		<div class="container mx-auto text-left text-white">
			<div class="flex  items-center ">
				<div class="flex flex-col items-center sm:w-1/2 sm:items-start">
					<h1 class="text-5xl font-medium mb-6 text-center sm:text-start">Welcome to name of the student
					</h1>
					<p class="text-xl mb-12 text-center px-4 sm:text-start">Lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Nam viverra
						euismod odio, gravida pellentesque urna varius vitae.</p>
					<a routerLink="/student/courses"
						class="bg-blue-400  text-white py-4 px-12 rounded-full hover:bg-indigo-600 text-center">Go
						to courses</a>
				</div>
			</div>
		</div>
	</section>
</div>
