<!-- component -->
<div class="min-h-screen bg-gray-50 flex items-center bg-no-repeat bg-center bg-cover" style="background-image: url('https://source.unsplash.com/random?ux')" >
	<section class="bg-cover bg-center py-32 w-full">
		<div class="container mx-auto text-left text-white">
			<div class="flex items-center">
				<div class="w-1/2">
					<h1 class="text-5xl font-medium mb-6">Welcome to name of the student</h1>
					<p class="text-xl mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
						euismod odio, gravida pellentesque urna varius vitae.</p>
					<a routerLink="/student/courses" class="bg-blue-400 text-white py-4 px-12 rounded-full hover:bg-indigo-600">Go to courses</a>
				</div>
				</div>
			</div>
	</section>
</div>
