<style>
  .banner {
    background:  url('https://cdn.discordapp.com/attachments/1095834192924909631/1133844832134107146/5927911.gif');
  }
</style>

<div id="up" class="banner bg-fixed bg-no-repeat bg-center bg-cover h-[70vh] relative">
  <!-- Overlay Background + Center Control -->
  <div class=" h-full bg-opacity-50 bg-black flex items-center justify-center" style="background:rgba(0,0,0,0.5);">
    <div class="mx-2 text-center">
      
      <h2 class="text-gray-200 font-extrabold text-3xl xs:text-4xl md:text-5xl leading-tight">
        Descubre por dónde comenzar
        <!-- Get a <span class="text-white">Better</span> and <span class="text-white">Professionals</span> Design -->
      </h2>
      <div class="inline-flex">
        <a href="#about"><button
            class="px-4 py-2 my-5 mx-2 border-2 bg-white bg-opacity-75 hover:bg-opacity-100  rounded font-bold text-gray-600 shadow-md transition duration-500 md:text-lg">Hacer test</button></a>
      </div>
    </div> 
  </div>
</div> x
