
<!--

  <div class="mx-auto  h-screen grid lg:grid-cols-2 animate-loadItem">
    <div
        class="relative sm:bg-gradient-to-r bg-gradient-to-b from-banner-bg  via-#F3F4F6-600 to-banner-gray-bg h-screen  flex flex-col justify-center items-center ">


        <div class="relative py-3 mx-auto w-96 ">
            <div
                class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
            </div>
            <div class="relative px-10 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-18">
                <div class="max-w-lg mx-auto">
                    <div>
                        <h1 class="text-2xl font-semibold">Register</h1>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <form [formGroup]="emailForm" action="" (submit)="handleSubmitFormLogin($event)">
                            <div class="py-4 text-base leading-6 space-y-6 text-gray-700 sm:text-lg sm:leading-7">
                                <div class="relative">
                                    <input formControlName="name" autocomplete="off" id="name" name="name" type="name"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"
                                        placeholder="Name" />


                                    <label for="Name"
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base  peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:text-gray-600 "><span
                                            class="text-red-500">*</span> Name
                                    </label>

                                </div>
                                <div class="relative">
                                    <input formControlName="email" autocomplete="off" id="email" name="email"
                                        type="email"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"
                                        placeholder="Email address" />
                                    <p *ngIf="emailControl.hasError('invalidEmail')"
                                        class="absolute text-red-400 font-bold -bottom-5 text-sm mt-5">
                                        direccion de correo no valida
                                    </p>

                                    <label for="email"
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base  peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:text-gray-600 ">
                                        <span class="text-red-500">*</span> Email
                                    </label>
                                </div>
                                <div>

                                    <select id="selectedCity" name="selectedCity" formControlName="selectedCity"
                                        class="w-full border-b-2  border-gray-300 mt-2">
                                        <option value="">Selecciona tu pais</option>
                                        <option *ngFor="let ct of country" value="{{ct.label}}">{{ ct.label }}
                                        </option>
                                    </select>
                                </div>

                                <div class="relative mt-4">
                                    <input formControlName="estado" autocomplete="off" id="estado" name="estado"
                                        type="estado"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300  mt-2 text-gray-900 focus:outline-none focus:borer-rose-600"
                                        placeholder="Estudiando , Trabajando , Relajado , De Viaje ... etc " />



                                    <label for="estado"
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base  peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:text-gray-600 "><span
                                            class="text-red-500">*</span>Estado
                                        Actual
                                    </label>
                                </div>


                                <div class="relative">
                                    <input formControlName="phone" autocomplete="off" id="phone" name="phone"
                                        type="number"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"
                                        placeholder="phone" />



                                    <label for="phone"
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base  peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:text-gray-600 "><span
                                            class="text-red-500">*</span> Phone
                                    </label>
                                </div>
                                <div class="relative">
                                    <input formControlName="password" name="password" id="password" autocomplete="off"
                                        id="password" name="password" type="password"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"
                                        placeholder="Password" />


                                    <p class="absolute w-full text-red-400 font-bold  -bottom-4 text-sm mt-2"
                                        *ngIf="passwordControl.hasError('invalidPassword')">Minimo 3 caracteres</p>

                                    <label for="password"
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440  peer-placeholder-shown:top-2 transition-all "><span
                                            class="text-red-500">*</span>
                                        Password</label>
                                </div>
                                <div class="relative">
                                    <input formControlName="password_repeat" name="password_repeat" autocomplete="off"
                                        id="password_repeat" name="password_repeat" type="password"
                                        class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600"
                                        placeholder="Password-repeat" (keyup)="passwordsMatch()" />



                                    <p class="absolute text-red-400 font-bold -bottom-5 text-sm mt-2"
                                        *ngIf="!RepeatControl.hasError('fieldRequired') && repeatPasswordValidate">
                                        Contraseñas no coinciden
                                    </p>
                                    <label for="password_repeat"
                                        class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440  peer-placeholder-shown:top-2 transition-all "><span
                                            class="text-red-500">*</span>
                                        Repeat
                                        password</label>
                                </div>
                                <div class="relative mt-4">
                                    <button [disabled]="emailForm.invalid || repeatPasswordValidate"
                                        class="bg-blue-500 text-white rounded-md px-2 py-1">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <div
            class="relative sm:bg-gradient-to-l bg-gradient-to-b from-banner-bg  via-#F3F4F6-600 to-banner-gray-bg h-screen  flex flex-col justify-center items-center">

            <div class="  p-8 rounded-full overflow-hidden">
                <img src="../../../assets/icons/login_icon.png" class=" h-300 object-cover w-full h-full">
            </div>
        </div>

</div>
-->


<div class="h-screen bg-cover bg-center" style="background-image:url(https://xqsuperschool.org/rethinktogether/wp-content/uploads/sites/5/2022/01/xq-What-Is-the-Role-of-Curriculum-in-Student-Centered-Learning.jpg)">


<div>
<form [formGroup]="Empregister" (ngSubmit)="HandleSubmit()" class="p-8 ">
  <mat-stepper [linear]="isLinear" #stepper class="rounded-md mt-8 py-8">

      <mat-step [stepControl]="Basicform">
        <div formGroupName="basic">


          <ng-template matStepLabel class="">Basica Información</ng-template>
            <div class="bg-gray-100 mb-4 mt-4">
              <div class="text-lg px-3 py-2">
                <h1 class="font-bold ">Terminos y condiciones</h1>
                  <p class="font-light ml-2 ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet maxime earum impedit est nostrum eius sit nam eaque minima! Molestias aspernatur voluptatum at quod ducimus delectus adipisci eius expedita rem.</p>
              </div>
            </div>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
      </div>
      </mat-step>
      <mat-step [stepControl]="documentacionForm"  label="Documentacion ">
        <div formGroupName="doc" class="mt-4">
          <mat-form-field appearance="fill" class="max-width">
            <mat-label>Tipo de documento</mat-label> <!-- Título del mat-select -->
            <mat-select formControlName="tipo_documento" required>
              <!-- Agrega las opciones del select aquí -->
              <mat-option value="TI">Tarjeta de identidad</mat-option>
              <mat-option value="CD">Cedula</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="max-width">
              <mat-label>No. de documento</mat-label>
              <input matInput type="text" formControlName="num_documento"
                     required>
           </mat-form-field>

           <div class="pb-4">
              <label for="file-input" class="ml-1 font-light text-sm text-gray-400">Carga tu identificación</label>
              <input type="file" name="file-input" id="file-input" class="block w-full border border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-white dark:border-gray-200 dark:text-gray-400
                file:bg-transparent file:border-0
                file:bg-white file:mr-4
                file:py-3 file:px-4
                dark:file:bg-white dark:file:text-gray-400" formControlName="fileControl">
              </div>


          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button> |
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
      </div>
      </mat-step>
      <mat-step [stepControl]="informationPersonForm" label="Datos Personales">
          <div formGroupName="information_person" class="mt-4">
            <mat-form-field appearance="fill" class="max-width">
              <mat-label>Nombre Completo</mat-label>
              <input matInput formControlName="fullName" placeholder=""
                     required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="max-width">
                <mat-label>Correo Electronico</mat-label>
                <input matInput formControlName="email" placeholder="example@gmail.com"
                       required>
              </mat-form-field>
              <mat-form-field appearance="fill" class="max-width" class="max-width">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="phone" placeholder="3154859664"
                       required>
              </mat-form-field>



              <mat-form-field appearance="fill" class="max-width" class="max-width">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="departments" required>
                  <mat-option *ngFor="let departamento of departaments" value="{{ departamento.departamento }}">{{ departamento.departamento }}</mat-option>
                </mat-select>
              </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperPrevious>Back</button> |
            <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </div>
        </mat-step>


        <mat-step [stepControl]="passwordEndForm" label="Asignar clave y finalizar">
          <div formGroupName="password_end" class="mt-4">
            <mat-form-field appearance="fill" class="max-width">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" placeholder="*********"
                     required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="max-width">
                <mat-label>Confirma contraseña</mat-label>
                <input matInput type="password" formControlName="confirm_password" placeholder="*********"
                       required>
              </mat-form-field>

            <div>
              <button mat-raised-button color="primary" matStepperPrevious>Back</button> |
              <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        </mat-step>

    </mat-stepper>
  </form>

</div>
</div>
