<div class="shadow-sm  min-h-72 max-w-[900px] rounded-lg justify-center mx-auto grid lg:grid-cols-2a px-4">
  <div class=" flex items-center  justify-center">
    <div class="relative w-60 h-60  md:w-96 md:h-96 rounded-full bg-[#C74C2A] p-2 shadow-md  shadow-[#C74C2A] overflow-hidden">
      <img src="../../../../assets/imgs/teacher.png" class="w-full absolute" alt="">
     </div>
  </div>
  <div class="p-10 gap-8 ">
    <h3 class="font-bold text-3xl text-white">Convierte en un instructor</h3>
    <p class="my-4 text-lg text-gray-200">
      Instructores de todo el mundo enseñan a millones de estudiantes en ***. Proporcionamos las herramientas y las habilidades para que enseñes lo que te apasiona.
    </p>
    <button class="bg-[#C74C2A] shadow-sm shadow-black text-white px-4 py-3 rounded-lg font-bold">Empieza a enseñar hoy mismo</button>
  </div>
</div>
