<section class=" min-h-[100vh] pt-14 pb-14 md:grid md:grid-cols-2 w-full container md:mx-auto px-6">

  <!-- columna 1 -->
  <div>
    <div class="container mx-auto flex-col items-center flex justify-center md:mt-40  box-border">
      <h2 class="text-7xl font-bold text-white"><span class="text-[#C74C2A] font-normal">Para todos tus retos,</span><br>
        prepárate en ****</h2>
      <p class="text-gray-200 w-full xl:w-2/5 md:text-center mt-10">La comunidad de aprendizaje en línea donde desarrollas tus
        habilidades y potencias tu crecimiento profesional.
      </p>
    </div>
    <app-navigationCategories></app-navigationCategories>
  </div>
<!-- columna 2 -->
  <div>
    <app-cardNotification></app-cardNotification>
    <app-btnDocumentation></app-btnDocumentation>
  </div>

</section>
