<!-- component -->
<div *ngIf="data"
  class="max-w-sm min-w-300  bg-white px-6 pt-6 pb-2 rounded-xl shadow-lg transform hover:scale-105 transition duration-500">
  <h3 class="mb-3 text-xl font-bold text-text-title-card ">{{data.nivel_curso}}</h3>
  <div class="relative">
    <img class="w-full max-w-40 rounded-xl" src='https://source.unsplash.com/random?programming' alt="Colors" />
    <p class="absolute top-0 bg-yellow-300 text-gray-800 font-semibold py-1 px-3 rounded-br-lg rounded-tl-lg">FREE</p>
  </div>
  <h1 class="mt-4 text-gray-800 text-2xl font-bold cursor-pointer">{{data.nombre}}</h1>
  <div class="my-4">
    <div class="flex space-x-1 items-center">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-text-card mb-1.5" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </span>
      <p>{{data.created_at}}</p>
    </div>
    <div class="flex space-x-1 items-center">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-text-card mb-1.5" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
      </span>
      <p>{{data.categoria}}</p>
    </div>
    <a routerLink={{route}}>
      <button class="mt-4 text-xl w-full text-white bg-text-title-card py-2 rounded-xl shadow-lg">View detail</button>

    </a>
  </div>
</div>
