/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.container-central {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 50px;
}
