<!-- component -->
<div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800">
  <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs">
    <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="https://img.freepik.com/premium-photo/illustration-neon-tropical-theme-with-palm-tree-exotic-floral-ai_564714-1270.jpg" alt="product designer">
    <h1 class="text-lg text-gray-700">  </h1>
    <h3 class="text-sm text-gray-400 "> Confirmacion de email </h3>
    <p class="text-xs text-gray-400 mt-4">En este paso enviaremos un mensaje u codigo al correo electronico (tal) por protocolo de seguridad (dale click en siguiente)</p>
    <button class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide">Siguiente</button>
  </div>
</div>
