<!-- component -->
<div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800" *ngIf="showContentInform">
  <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-lg">
    <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="https://img.freepik.com/premium-photo/illustration-neon-tropical-theme-with-palm-tree-exotic-floral-ai_564714-1270.jpg" alt="product designer">
    <h1 class="text-lg text-gray-700">  </h1>
    <h3 class="text-2xl text-gray-400 "> Confirmacion de email </h3>
    <p class="text-1xl text-gray-400 mt-4">En este paso enviaremos un mensaje u codigo al correo electronico <span class="text-1xl text-indigo-500 font-bold">({{ current_email }}) </span> por protocolo de seguridad (dale click en siguiente)</p>
    <button [disabled]="disable_status_response" class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide" (click)="NextContent()">Siguiente</button>
  </div>
</div>



<!-- component -->
<div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800" *ngIf="showContentCode">
  <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-lg">
    <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="https://img.freepik.com/premium-photo/illustration-neon-tropical-theme-with-palm-tree-exotic-floral-ai_564714-1270.jpg" alt="product designer">
    <h1 class="text-lg text-gray-700">  </h1>
    <h3 class="text-2xl text-gray-400 "> Codigo de verificación </h3>
    <p class="text-1xl text-gray-400 mt-4">Por favor Ingresa el codigo de verificacion que se envio al correo {{ current_email }}</p>
    <br>
    <hr>
    <br>
    <form [formGroup]="codeFormGroup">
      <input type="text"  class="border rounded-full border-indigo-600 py-4 text-center font-bold" formControlName="code">
      <br>
      <button  [disabled]="codeFormGroup.invalid" class="bg-indigo-600 px-8 py-4 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide" (click)="VerifyCode()">Confirmar</button>
    </form>
  </div>
</div>





