<!-- component -->
<button *ngIf="!courseDetail" type="button"
    class="bg-banner-bg h-max w-max rounded-lg text-white font-bold hover:bg-indigo-300 hover:cursor-not-allowed duration-[500ms,800ms]"
    disabled>
    <div class="h-5 w-5 border-t-transparent border-solid animate-spin rounded-full border-white border-4">
    </div>
    <div class="ml-2"> Processing... <div>
        </div>
    </div>
</button>
<div *ngIf="courseDetail">
    <section class="text-gray-700 sm:mt-20  body-font overflow-hidden bg-white">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce"
                    class="max-h-80 lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                    src="https://source.unsplash.com/random?programming">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">{{courseDetail.categoria }}</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{courseDetail.nombre}}</h1>
                    <div class="flex mb-2">
                        <span class="sm:flex items-center py-2">

                            <span class="text-gray-600 mr-3 font-semibold">Reviews:</span>
                            <div class="flex">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                            </div>

                        </span>
                        <span class=" ml-3 sm:flex pl-3 py-2 border-l-2 border-gray-200">
                            <p class="mr-3 font-semibold">Course level:</p><span>{{courseDetail.nivel_curso}}</span>

                        </span>

                    </div>
                    <div class="flex mb-2">
                        
                        <span class="flex py-2">
                            <span class="text-gray-600 mr-3 font-semibold">Number of students:</span>
                            <span>{{courseDetail.numero_max_estudiantes}}</span>
                        </span>

                    </div>
                    <p class="leading-relaxed border-b-2 border-gray-200 pb-2">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Nulla repudiandae qui perspiciatis omnis possimus est deserunt molestias
                        soluta quia! Quasi tempore beatae voluptates provident pariatur in sequi, maxime enim numquam.
                    </p>

                    <div class="flex mt-8">
                        <span class="title-font font-medium text-2xl text-gray-900">Free</span>
                        <button
                            class="flex ml-auto text-white bg-text-title-card border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Subscribe</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
