<div class="absolute left-0 ml-72 	mt-20">
  <!-- component -->


  <!-- component -->
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
        <!-- 1 card -->
        <div class="relative bg-white py-6 px-6 rounded-3xl w-64 my-4 shadow-xl" *ngFor="let data of datos">
            <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-pink-500 left-4 -top-6">
                <!-- svg  -->
                <img src="../../../assets/svg/dashboard-admin/backpack-svgrepo-com.svg" class="h-10 w-10" alt="">
            </div>
            <div class="mt-8">
                <p class="text-xl font-semibold my-2">{{data.nombre}}</p>
                <div class="flex space-x-2 text-gray-400 text-sm">
                    <!-- svg  -->
                    <img src="../../../assets/imgs/dashboard-admin/courses/elixir.png" class="w-5 h-5" alt="">
                     <p>{{data.nivel_curso}}</p>
                </div>
                <div class="flex space-x-2 text-gray-400 text-sm my-3">
                    <!-- svg  -->
                    <img src="../../../assets/imgs/dashboard-admin/courses/libro-de-hechizos.png" class="h-5 w-5" alt="">
                     <p>{{data.categoria}}</p>
                </div>
                <div class="border-t-2"></div>

                <div class="flex justify-between">
                  <div class="my-2">
                    <p class="font-semibold text-base mb-2">Actions initals</p>
                    <div class="flex item-center justify-center">
                      <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                        <a [routerLink]="['/dashboard-admin/detail_course/',data.id]" routerLinkActive="router-link-active" >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                          </svg>
                        </a>
                      </div>
                      <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                        <a [routerLink]="['/dashboard-admin/edit_course/',data.id]" routerLinkActive="router-link-active" >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                          </svg>
                        </a>
                      </div>
                      <button  (click)="showConfirm2(data.id)">
                      <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                          </svg>
                      </div>
                      </button>
                  </div>
                </div>
                 <div class="my-2">
                    <p class="font-semibold text-base mb-2">state</p>
                    <div class="text-base text-green-500 font-semibold">
                        <p>{{data.estado}}</p>
                    </div>
                </div>
            </div>
            </div>

<!--Delete confirm -->
<p-toast position="bottom-center" key="confirm" (onClose)="onReject2()" [baseZIndex]="5000" class="bg-white rounded-lg  p-6">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4 class="text-lg font-bold mb-2">{{message.summary}}</h4>
        <p class="text-gray-700">{{message.detail}}</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <button type="button" pButton (click)="onConfirm2()" label="Yes" class="ml-2 w-full p-button-success"></button>
        </div>
        <div>
          <button type="button" pButton (click)="onReject2()" label="No" class="w-full p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>


        </div>
  </div>
  </div>
</div>



<router-outlet></router-outlet>
