<div class="w-full bg-[#1F2937] min-h-[30vh] relative ">
  <div class="container mx-auto pt-14 flex gap-4 flex-col px-4">
    <h2 class="text-[#C74C2A]  text-2xl">¿CÓMO APRENDES CON **?</h2>
    <p class="font-bold  text-white text-4xl ">TE DAMOS LAS HERRAMIENTAS PARA CRECER</p>
    <ul class="text-gray-200 grid  sm:grid-cols-3 gap-2 md:gap-4 md:mt-5 pb-10">
      <li class="pr-10">
        <span class="font-bold text-xl">Crea:</span> <br> Adquiere el conocimiento necesario para convertir tus ideas en nuevos proyectos.
      </li>
      <li class="pr-10">
        <span class="font-bold text-xl">Comparte:</span> <br> Conecta con una comunidad de estudiantes y profesionales para potenciar tu aprendizaje.
      </li>
      <li class="pr-10">
        <span class="font-bold text-xl">Transforma: </span> <br> Genera impacto con grandes proyectos que cambien al mundo.
      </li>
    </ul>
  </div>
  <div class="absolute w-full -bottom-32 z-10 "  style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-33.57,6.44 C321.38,364.64 495.20,-81.39 572.51,99.19 L475.45,-39.94 L-33.01,-69.55 Z" style="stroke: none; fill: #1F2937;"></path></svg></div>
</div>
