<div class="max-w-screen-md md:w-[90%] mx-auto">
  <div class="inline-flex flex-col space-y-2 items-center justify-end flex-1 h-full p-4 bg-[#1F2937] rounded-xl">
    <p class="w-full text-2xl font-semibold text-white">Dark variant</p>
    <p class="w-full pb-8 text-sm tracking-wide leading-tight text-white">Card layouts can vary to support the types of
      content they contain. The following elements are commonly found among that variety.</p>
    <div class="rounded mr-auto">
      <div class="opacity-95 border rounded-lg border-white px-4">
        <p class="m-auto inset-0 text-sm font-medium leading-normal text-center text-white py-2">Buy Now</p>
      </div>
    </div>
  </div>
</div>
